.container-grid {
    margin: 20px 30% 20px 30%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.square {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: flex;
    align-items: center;
}

.square-text {
    flex: auto;
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}