.container-grid {
    margin: 30px 30% 30px 30%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.square {
    background-color: #ededed;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: flex;
    align-items: center;
}

.square:hover {
    cursor: pointer;
    background-color: #acc8d7;
}

.square-text {
    flex: auto;
    text-align: center;
}

h1, h2, h3, p {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p { 
    font-size: 4rem;
}

h1 {
    font-size: 4rem;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-width: 2px;
}

#btn-new {
    position: absolute;
    left: calc(50% - 100px);
    right: calc(50% - 100px);
    margin-bottom: 50px;
    display: none;
}